.home-page
  background-color: rgba(0, 0, 0, 0.08);
  .header
    .header-add
      button
        font-size: 15px;
        font-weight: 600;
        color: white
        background-color: rgb(0, 88, 176);
        border: none;
        padding: 13px 35px;
        letter-spacing: 1.5px;
@media screen and ( max-width: $small )
  .home-page
    .header
      .header-nav
        .home-button
          a 
            .large-logo
              display: none;
            .small-logo
              display: block;
        .dropdown
          display: none;
  
