.search-results
  display: grid; 
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 0;
  .favorite-cam-item-wrap
    border-left: 1px solid rgba(0,0,0,0.1);
    a 
      border: none;