.dropdown
  position: absolute;
  top: 100%;
  left: 0;
  width: 450px;
  height: auto;
  color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $light-gray-text;
  .region
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
    color: white;
    border-bottom: 1px solid $light-gray-text;
    .arrow
      margin: 0 13px;
  .forecast-wrapper
    display: grid;
    grid-template-columns: 1fr 1fr;
  .half
    background-color: #F2F7F9;  
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .spot-link 
      color: $gray-text;
      font-weight: 400;
      font-size: 1em;
      padding: 5px 0 5px 0;
      &:hover
        text-decoration: underline;