.forecast-header
  border-bottom: 1px solid $light-gray-border;
  background: white;
  .spot-info
    padding: 0 15px;
    border-bottom: 1px solid $light-gray-border;
    overflow: hidden;
    white-space: nowrap;
    .region
      display: none;
      margin-top: 12px;
      color: $gray-text;
    h4
      margin: 12px 0;
      font-weight: 600;
      font-size: 1.2em;
      color: $black-text;
  .spot-extras
    padding: 6px 15px;
    overflow: hidden;
    white-space: nowrap;
    a
      margin-right: 15px;
      color: $black-text
      font-weight: 400;
      font-size: .9em;
      text-transform: uppercase;

@media screen and ( min-width: $medium )
  .forecast-header
    padding: 0 5%;
    .spot-info
      padding: 0;
      border: none;
      .region
        display: block;
    .spot-extras
      padding: 0;
      margin-bottom: 8px;
  